<table>
  <tbody>
    <tr class="status_tag level_positive">
      <td>POSITIVE</td><td><%= data[:positive] %>%</td>
    </tr>
    <tr class="status_tag level_negative">
      <td>NEGATIVE</td><td><%= data[:negative] %>%</td>
    </tr>
    <tr class="status_tag level_neutral">
      <td>NEUTRAL</td><td><%= data[:neutral] %>%</td>
    <tr class="status_tag level_mixed">
      <td>MIXED</td><td><%= data[:mixed] %>%</td>
    </tr>
  </tbody>
</table>