---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/conversations.history
    body:
      encoding: UTF-8
      string: channel=CNGCN4PC0&cursor&latest_timestamp=1571356799&limit=100&oldest_timestamp=1571270400&token=xoxp-764312300151-756042918449-751678102194-116eaae6e3ccc3b3653698c38e2a5f8f
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 85a62a8f9c1b38ccdb2f4d3f1656408e
      X-Oauth-Scopes:
      - identify,channels:history,channels:read
      X-Accepted-Oauth-Scopes:
      - channels:history,groups:history,mpim:history,im:history,read
      X-Via:
      - haproxy-www-nhfc
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"messages":[{"client_msg_id":"88233565-6726-4b22-bfea-240ec2a51777","type":"message","text":"program
        starts @ 11 Am near downtown, see you around :slightly_smiling_face:","user":"UN818T0D7","ts":"1570906250.002700","team":"TNG968U4F"},{"client_msg_id":"e5c8c7fa-74a8-42d6-a02f-2a05bee0278f","type":"message","text":"This
        is on 23rd April 2019 at Chicago with amazing drinks","user":"UN818T0D7","ts":"1570905584.002000","team":"TNG968U4F"},{"client_msg_id":"6cad2249-43f9-4e0f-a550-9d32655ca1d4","type":"message","text":"Why
        is that i can''t take a survey?","user":"UN818T0D7","ts":"1570896513.001300","team":"TNG968U4F"},{"client_msg_id":"8afcf083-e01d-4192-9e27-c0642403af36","type":"message","text":"I
  [...]
